header {
  background: slategray;
}

header .logo {
  max-width: 200px;
}

.nav-link {
  color: white;
}

.nav-link:hover,
.nav-link.active {
  color: rgb(101, 199, 255);
}

.article-card {
  position: relative;
}

.article-card-votes {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 6px;
  font-weight: bold;
  color: white;
  border-radius: 0 0 0 10px;
}

.article-card-votes::before {
  content: "👍";
}

.article-card-topic {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 6px;
  font-weight: bold;
  color: white;
  border-radius: 0 10px 0 0px;
  cursor: default;
}

.date-label,
.author-label {
  font-weight: bold;
}
