header {
  background: slategray;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

header .logo {
  max-width: 200px;
}

.nav-link {
  color: white;
}

.nav-link:hover,
.nav-link.active {
  color: rgb(101, 199, 255);
}

.article-card {
  position: relative;
}

.article-card-votes {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 6px;
  font-weight: bold;
  color: white;
  border-radius: 0 0 0 10px;
  cursor: default;
}

.article-card-topic {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 6px;
  font-weight: bold;
  color: white;
  border-radius: 0 10px 0 0px;
  cursor: default;
}

.date-label,
.author-label,
.votes-label,
.comments-label {
  font-weight: bold;
}

.full-article-container {
  text-align: left;
}

.full-article-container h2 {
  margin-top: 0.5em;
}

.article-info.author-subheading {
  margin-bottom: 1.5em;
  margin-top: 0.5em;
}

.article-info {
  margin: 0;
}

.article-body {
  margin-top: 2em;
}

.cover-label {
  font-style: italic;
}

.go-back-link {
  font-style: italic;
}

.article-image-container {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.article-image-container img {
  margin-bottom: 50px;
}

.topic-bubble {
  background: slategray;
  padding: 5px 10px;
  border-radius: 50px;
}

.topic-bubble a {
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.article-comments h3 {
  margin: 2em 0;
}

.comment-card {
  text-align: left;
}

.comment-card-container {
  border-bottom: 1px solid slategray;
}

button.comment-vote-button {
  background: none;
  border: none;
  font-size: 1.5rem;
}

.comment-attribution,
.vote-confirmation {
  font-size: 0.8em;
}

.author-avatar {
  width: 140px;
  height: 140px;
  object-fit: contain;
}

.authors-container h2 {
  margin-bottom: 2em;
}

.current-user img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  background: white;
  border-radius: 100px;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.2);
  padding: 2px;
}

.current-user {
  text-align: center;
}

.main-header {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}

.logged-in-username {
  display: block;
  margin-right: 10px;
  color: white;
  cursor: default;
  font-size: 0.9rem;
}

footer {
  border-top: 1px solid #bbb;
}

.logged-in-username-subheader {
  width: 100%;
  display: none;
  color: white;
  font-weight: bold;
  font-style: italic;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 0.8rem;
  margin-top: 1rem;
  text-align: center;
}

@media (max-width: 800px) {
  .main-navigation-container {
    width: 100%;
  }
  .nav-pills li {
    display: block;
    width: 100%;
    text-align: center;
  }
  .logged-in-username-subheader {
    display: block;
  }
  .current-user img {
    display: none;
  }
  .logged-in-username {
    display: none;
  }
}
.upvote,
.downvote {
  filter: grayscale();
}

.upvote:hover,
.upvote.casted {
  filter: hue-rotate(310deg);
}
.downvote:hover,
.downvote.casted {
  filter: hue-rotate(515deg);
}

.comment-vote-icon {
  filter: grayscale();
}

.upvoted {
  filter: hue-rotate(310deg);
}

.downvoted {
  filter: hue-rotate(515deg);
}

.article-cover {
  object-fit: cover;
  max-height: 200px;
}

.comment-card .comment-vote-button {
  font-size: 1.3rem;
}
